@model AdminApp.Models.ViewModels.EstadisticasViewModel

@{
	Layout = "AdminLayout";
}

<section class="dashboard">
    <div class="card">
        <h2>Cajas <br />Activas</h2>
        <p id="total-users">@Model.TotalCajasActivas</p>
    </div>
    <div class="card">
        <h2>Cajas <br />Inactivas</h2>
        <p id="total-money">@Model.TotalCajasInactivas</p>
    </div>
    <div class="card">
        <h2>Clientes Atendidos</h2>
        <p id="active-boxes">@Model.TotalClientesAtendidos</p>
    </div>
    <div class="card">
        <h2>Clientes en espera</h2>
        <p id="recent-transactions">@Model.TotalClientesEnEspera</p>
    </div>
    <!-- Agrega más tarjetas según sea necesario -->
</section>