@{
	Layout = "AdminLayout";
}

<section class="dashboard">
    <div class="card">
        <h2>Cajas <br />Activas</h2>
        <p id="total-users">150</p>
    </div>
    <div class="card">
        <h2>Cajas <br />Inactivas</h2>
        <p id="total-money">3</p>
    </div>
    <div class="card">
        <h2>Clientes Atendidos</h2>
        <p id="active-boxes">10</p>
    </div>
    <div class="card">
        <h2>Clientes en espera</h2>
        <p id="recent-transactions">20</p>
    </div>
    <!-- Agrega más tarjetas según sea necesario -->
</section>