@model AdminApp.Areas.Administrador.Models.ViewModels.UsuarioViewModel1

@{
	Layout = "AdminLayout";
}


<section class="main">
	

	<form action="~/Administrador/Usuarios/EliminarUsuario" method="post" enctype="multipart/form-data">
		<input type="hidden" value="@Model.Id" name="Id" />
		<section class="attendance">
			<div class="attendance-list Card-Eliminar">
				<div class="half-width">
					<label for="Eliminar">
						<span class="red-text"><i class="fas fa-trash-alt"></i></span>Eliminar usuario
					</label>
					<br />
					<label>
						¿Deseas Eliminar al usuario:
						<span class="red-text">@Model.NombreUsuario</span>?
					</label>
					@if (Model.IdRol == 2)
					{
						<div class="half-width">
							<label>Caja asignada:</label>
							<label type="text" name="NombreCaja">@Model.NombreCaja</label>
						</div>
					}
				</div>
			</div>


			<!-- Botones -->
				<div class="buttons">
					<input type="submit" value="Confirmar" class="accept-button" />
					<a href="~/Administrador/Usuarios">
						<input type="button" value="Cancelar" class="cancel-button" />
					</a>
				</div>
			
		</section>

	</form>
</section>

