@model AdminApp.Models.ViewModels.CajaViewModel1


@{
    Layout = "AdminLayout";
}



<section class="main">
    <div class="Caja-Section">
        <div class="Menu-Caja">
            <i class="fas fa-user"></i>
            <span>Agregar Caja</span>
        </div>
    </div>
    <form action="~/Administrador/Cajas/AgregarCaja" method="post" enctype="multipart/form-data">
        <section class="Card">
            <div class="Datos-Card">
                <div class="Datos">
                    <div class="Contenedor">
                        <label for="nombre">Nombre:</label>
                        <input type="text" id="nombre" name="NombreCaja" value="@Model.NombreCaja" required />
                    </div>
                    <div class="Contenedor">
                        <label for="nombre">Estado:</label>
                        <select name="Estado" value="@Model.Estado">
                            <option value="1">Activa</option>
                            <option value="0">No activa</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="buttons">
                <input type="submit" value="Agregar Caja" class="accept-button" />
                <a href="~/Administrador/Cajas">
                    <input type="button" value="Cancelar" class="cancel-button" />
                </a>
            </div>
        </section>
    </form>
</section>