@model AdminApp.Models.ViewModels.CajaViewModel1

@{
	Layout = "AdminLayout";
}

<section class="main">
    <form method="post" action="~/Administrador/Cajas/EliminarCaja">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="content">
            <div class="Card-Eliminar">
                <h2 class="red-text"><i class="fas fa-trash-alt"></i> Eliminar Caja</h2>
                <div class="half-width">
                    <label>Caja:</label>
                    <span class="red-text">@Model.NombreCaja</span>
                </div>
                <p>¿Está seguro que desea eliminar esta caja?</p>

            <!-- Botones -->
            <div class="buttons">
                <input type="hidden" value="@Model.Id" />
                 <input type="submit" value="Aceptar" class="accept-button" />
                <a href="~/Administrador/Cajas">
                    <input type="button" value="Cancelar" class="cancel-button" />
                </a>
            </div>
    </form>
        </section>
</section>