@model AdminApp.Areas.Administrador.Models.ViewModels.CajaViewModel1

@{
	Layout = "AdminLayout";
}

<section class="main">
    <form method="post" href="~/Administrador/Cajas/EliminarCaja">
        <input type="hidden" value="@Model.Id"/>
        <section class="attendance">
            <div class="attendance-list Card-Eliminar">
                <div class="half-width">
                    <label for="Eliminar">
                        <span class="red-text"><i class="fas fa-trash-alt"></i></span>Eliminar Caja
                    </label>
                    <br />
                    <label>
                        ¿Deseas Eliminar la Caja:
                        <span class="red-text">@Model.NombreCaja</span>?
                    </label>
                </div>
            </div>

            <!-- Botones -->
            <div class="buttons">
                <input type="hidden" value="@Model.Id" />
                 <input type="submit" value="Aceptar" class="accept-button" />
                <a href="~/Administrador/Cajas">
                    <input type="button" value="Cancelar" class="cancel-button" />
                </a>
            </div>
        </section>
    </form>
</section>